# Default ignored files
/telegram/api_key.txt
api_key.txt
../telegram/api_key.txt
*.txt
/shelf/
/api_key.txt
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
